@model PetTime.Models.PetOrder

@{
    ViewData["Title"] = "Order" + Model.ID;
}
<div class="w3-content w3-container w3-padding-64">
    <h2 class="w3-center">Thanks for ordering!</h2>
    <div class="w3-row">
            <table class="table">
                <thead>
                    <tr>
                        <th>Purchase</th>
                        <th>Visit Type</th>
                        <th>Scheduled Visit</th>
                        <th>Length of Visit</th>
                        <th>Puppies Joining</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model.PetOrderProducts)
                    {
                        <tr>
                            <td>@product.ProductName</td>
                            <td>@product.ProductEventType</td>
                            <td>@product.StartDate</td>
                            <td>@product.ProductDescription</td>
                            <td>@product.ProductAnimalCount</td>
                            <td>@((product.ProductAnimalCount * product.ProductPrice).ToString("c"))</td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="5">Total</th>
                        <td>@(Model.PetOrderProducts.Sum((x => ((x.Quantity * x.ProductPrice) + (x.ProductAnimalCount * x.ProductPrice)))).ToString("c"))</td>
                    </tr>
                </tfoot>
            </table>
    </div>
</div>
