@model PetTime.Models.PetOrder

@{
    ViewData["Title"] = "Order" + Model.ID;
}
<div class="w3-content w3-container w3-padding-64">
    <h2 class="w3-center">Thanks for ordering!</h2>
    <p class="w3-center"><strong>Order Number: </strong>@Model.ID</p>
    <div class="w3-row">
        <div class="card-deck">
            @foreach (var product in Model.PetOrderProducts)
            {
                <div class="card-body" style="max-width: 360px; border: 1px dashed #ed8c72; margin: 5px;">
                    <p><strong>Visit Type: </strong>@product.ProductName @product.ProductEventType</p>
                    <p><strong>Date/Time: </strong>@product.StartDate</p>
                    <p><strong>Length of Visit: </strong>@product.ProductDescription</p>
                    @if (product.IsRecurring == false)
                    {
                        <p><strong>Recurrence:</strong> One Time</p>
                    }
                    else
                    {
                        <p><strong>Recurrence: </strong> Recurring Event</p>
                    }
                    <p><strong>Puppies Joining: </strong>@product.ProductAnimalCount</p>
                    <p><strong>Price: </strong>@((product.ProductPrice).ToString("c"))</p>
                </div>
            }
        </div>
    </div>
    <div class="w3-row w3-right">
        <p style="font-size: 2em; color: #ed8c72;">Total</p>
        <p style="font-size: 1.5em">@(Model.PetOrderProducts.Sum((x => (x.ProductPrice))).ToString("c"))</p>
    </div>
</div>
