@model IEnumerable<Pet>
@{
    ViewData["Title"] = "Services";
}
@await Html.PartialAsync("_NavbarPartial")
<div class="pages overlay">
    <div class="row">
        <div class="col-8">
            <form class="breedform">
                <label for="category">Sort:</label>
                <select name="category" class="form-control">
                    @if (string.IsNullOrEmpty(ViewBag.selectedCategory))
                    {
                        <option value="" selected>All Breeds</option>
                    }
                    else
                    {
                        <option value="">All Breeds</option>
                    }
                    @foreach (string category in (string[])ViewData["Categories"])
                    {
                        @if (ViewBag.selectedCategory == category)
                        {
                            <option value="@category" selected>@category</option>
                        }
                        else
                        {
                            <option value="@category">@category</option>
                        }

                    }
                </select>
                <button class="btn btn-secondary">Filter</button>
            </form>

            @foreach (var pet in Model)
            {
                <div class="petmodel">
                    <h1>@pet.Description</h1>
                    <img src="@pet.ImagePath" alt="@pet.Name" />
                    <p>
                        <a asp-controller="Pet" asp-action="Details" asp-route-id="@pet.ID" class="btn btn-primary">View Details</a>
                    </p>
                </div>
            }
        </div>
        <div class="col-4">
            <p>
                <a asp-controller="Pet" asp-action="Index" class="btn btn-primary">Schedule a visit!</a>
            </p>
            <p>
                <a asp-controller="Pet" asp-action="Corporate" class="btn btn-primary">Corporate Deals!</a>
            </p>
            <p>
                <a asp-controller="Pet" asp-action="Therapy" class="btn btn-primary">Therapy Animal Information!</a>
            </p>
        </div>
    </div>
</div>

