@model PetCart

@{
    ViewData["Title"] = "Index";
}
<div class="pages overlay">

    @await Html.PartialAsync("_NavbarPartial")
    <div class="display">
        @if (Model.PetCartProducts.Count == 0)
        {
            <p>You have nothing scheduled,<a asp-controller="Pet" asp-action="index"> check out some animals or host an event!</a></p>
        }
        else
        {
            <h2>Visits</h2>
            <table class="table">
                @foreach (var product in Model.PetCartProducts)
                {
                    <tr>
                        <td>@product.Pet.Name</td>
                        <td>@product.StartDate </td>
                        <td>@product.Length</td>
                        <td>@product.Quantity puppies!</td>
                        <td>
                            <form asp-action="remove" method="post">
                                <input type="hidden" value="@product.ID" />
                                <button class="btn btn-danger">Remove</button>
                            </form>
                        </td>
                    </tr>
                }
            </table>
        }

        <h2>Corporate</h2>
        @if (Model.CorporateCartID == 0)
        {
            <p>You have nothing scheduled,<a asp-controller="Pet" asp-action="index"> check out some animals or host an event!</a></p>
        }
        else
        {
            <table class="table">
                <tr>
                    <td>@Model.CorporateCart.EventType</td>
                    <td>@Model.CorporateCart.StartDate</td>
                    <td>@Model.CorporateCart.Length</td>
                    <td>@Model.CorporateCart.AnimalCount puppies!</td>
                    <td>
                        <form asp-action="remove" method="post">
                            <input type="hidden" value="@Model.CorporateCart.ID" />
                            <button class="btn btn-danger">Remove</button>
                        </form>
                    </td>
                </tr>
            </table>
        }
        <h2>Therapy</h2>
        @if (Model.TherapyCartID == 0)
        {
            <p>You have nothing scheduled,<a asp-controller="Pet" asp-action="index"> check out some animals or host an event!</a></p>
        }
        else
        {
            <table class="table">
                <tr>
                    <td>@Model.TherapyCart.EventType</td>
                    <td>@Model.TherapyCart.StartDate</td>
                    <td>@Model.TherapyCart.Length</td>
                    <td>@Model.TherapyCart.AnimalCount puppies!</td>
                    <td>Instructions: @Model.TherapyCart.Instructions</td>

                    <td>
                        <form asp-action="remove" method="post">
                            <input type="hidden" value="@Model.CorporateCart.ID" />
                            <button class="btn btn-danger">Remove</button>
                        </form>
                    </td>
                </tr>
            </table>

        }
        <a asp-controller="Checkout" asp-action="Index" class="btn btn-primary">Continue to Payment</a>
    </div>
</div>