@model PetCart

@{
    ViewData["Title"] = "Index";
}
<div class="w3-content w3-padding-64">
    <div class="w3-row-padding w3-container">
        <h2 class="w3-center">CART</h2>
            @if ((Model.PetCartProducts.Count == 0) && (Model.CorporateCartID == null) && (Model.TherapyCartID == null)) 
            {
                <p class="w3-center">You have nothing scheduled,<a asp-controller="Pet" asp-action="index" style="color: #ed8c72"> check out some animals or host an event!</a></p>
            }

            else
            {
                @if (Model.PetCartProducts.Count != 0)
                {
                    <h3>VISITS</h3>
                    <table class="table">
                        @foreach (var product in Model.PetCartProducts)
                        {
                            <thead>
                                <tr>
                                    <th>Puppy</th>
                                    <th>Scheduled Visit</th>
                                    <th>Length of Visit</th>
                                    <th>Number of Puppies</th>
                                    <th>Price</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@product.Pet.Name</td>
                                    <td>@product.StartDate </td>
                                    <td>@product.Length</td>
                                    <td>@product.AnimalCount</td>
                                    <td>@(((decimal)(product.AnimalCount * product.Pet.Price)).ToString("c"))</td>
                                    <td style="border: none;">
                                        <form asp-action="remove" method="post">
                                            <input type="hidden" name="id" value="@product.ID" />
                                            <button class="w3-bar-item w3-button" style="border: solid;">Remove</button>
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        }
                    </table>
                }
                @if (Model.CorporateCart != null)
                {
                    <h3>CORPORATE</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Event Type</th>
                                <th>Scheduled Event</th>
                                <th>Length of Visit</th>
                                <th>Number of puppies</th>
                                <th>Price</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Model.CorporateCart.EventType</td>
                                <td>@Model.CorporateCart.StartDate</td>
                                <td>@Model.CorporateCart.Length</td>
                                <td>@Model.CorporateCart.AnimalCount</td>
                                <td>@(((decimal)(Model.CorporateCart.AnimalCount * 50)).ToString("c"))</td>
                                <td style="border: none;">
                                    <form asp-action="removeCorporate" method="post">
                                        <input type="hidden" value="@Model.CorporateCartID" />
                                        <button class="w3-bar-item w3-button" style="border: solid;">Remove</button>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                }

                @if (Model.TherapyCart != null)
                {
                    <h3>THERAPY</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Event Type</th>
                                <th>Scheduled Event</th>
                                <th>Length of Visit</th>
                                <th>Number of puppies</th>
                                <th>Price</th>
                                    
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Model.TherapyCart.EventType</td>
                                <td>@Model.TherapyCart.StartDate</td>
                                <td>@Model.TherapyCart.Length</td>
                                <td>@Model.TherapyCart.AnimalCount</td>
                                <td>@(((decimal)(Model.TherapyCart.AnimalCount * 50)).ToString("c"))</td>
                                <td style="border: none;">
                                    <form asp-action="removeTherapy" method="post">
                                        <input type="hidden" value="@Model.TherapyCartID" />
                                        <button class="w3-bar-item w3-button" style="border: solid;">Remove</button>
                                    </form>
                                </td>
                            </tr>
                    </table>
                }

                <a asp-controller="Checkout" asp-action="Index" class="w3-button w3-right w3-section" style="background-color: #ed8c72">
                    <i class="far fa-credit-card"></i> CHECKOUT
                </a>
            }
        </div>
    </div>