@model PetCart

@{
    ViewData["Title"] = "Index";
}
<div class="w3-content w3-container w3-padding-64" id="about">
    @if ((Model.PetCartProducts.Count == 0) && (Model.CorporateCartID != 0) && (Model.TherapyCartID != 0))
    {
        <p>You have nothing scheduled,<a asp-controller="Pet" asp-action="index"> check out some animals or host an event!</a></p>
    }
    else
    {
        <h3 class="w3-center">VISITS</h3>
            <table class="table">
                @foreach (var product in Model.PetCartProducts)
                {
                    <tr>
                        <td>@product.Pet.Name</td>
                        <td>@product.StartDate </td>
                        <td>@product.Length</td>
                        <td>$@((product.Pet.Price ?? 0) * (product.AnimalCount))</td>
                        <td>@product.AnimalCount puppies!</td>
                        <td>
                            <form asp-action="remove" method="post">
                                <input type="hidden" value="@product.ID" />
                                <button class="btn btn-danger">Remove</button>
                            </form>
                        </td>
                    </tr>
                }
            </table>

            @if (Model.CorporateCart != null)
            {
            <h3 class="w3-center">CORPORATE</h3>
                <table class="table">
                    <tr>
                        <td>@Model.CorporateCart.EventType</td>
                        <td>@Model.CorporateCart.StartDate</td>
                        <td>@Model.CorporateCart.Length</td>
                        <td>@Model.CorporateCart.AnimalCount puppies!</td>
                        <td>
                            <form asp-action="remove" method="post">
                                <input type="hidden" value="@Model.CorporateCartID" />
                                <button class="btn btn-danger">Remove</button>
                            </form>
                        </td>
                    </tr>
                </table>
            }

            @if (Model.TherapyCart != null)
            {
                <h3 class="w3-center">THERAPY</h3>
                <table class="table">
                    <tr>
                        <td>@Model.TherapyCart.EventType</td>
                        <td>@Model.TherapyCart.StartDate</td>
                        <td>@Model.TherapyCart.Length</td>
                        <td>@Model.TherapyCart.AnimalCount puppies!</td>
                        <td>Instructions: @Model.TherapyCart.Instructions</td>
                        <td>
                            <form asp-action="remove" method="post">
                                <input type="hidden" value="@Model.TherapyCartID" />
                                <button class="btn btn-danger">Remove</button>
                            </form>
                        </td>
                    </tr>
                </table>
            }
            }
            <a asp-controller="Checkout" asp-action="Index" class="btn btn-primary">Continue to Payment</a>
    </div>
</div>